@import url('../../vendor/fonts.css');

.weather-card{
    font-family: 'CabinetGrotesk', sans-serif;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin:28px 0 0 0;
}

.weather-card__clear_sky{
    background-color: rgba(0, 163, 255, 1);
}

.weather-card__mainly_sky{
    background-color: rgba(108, 166, 199, 1);
}

.weather-card__nightly_sky{
    background-color: rgba(40, 104, 151, 1);
}

.weather-card__temperature{
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    padding: 0;
    margin: 20px 16px;
}

.weather-card__icon
{
    width: 168px;
    height: 68px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.weather-card__icon-fog
{
    width: 168px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.weather-card__icon-precipitation
{
    width: 168px;
    height: 68px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.weather-card__icon-sun{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

