@import url('../../vendor/fonts.css');
.main{
    font-family: 'CabinetGrotesk', sans-serif;
    max-width: 1440px;
    background-color: rgba(243, 243, 243, 1);
    padding: 0 40px;
}

.main__grid-label{
    margin-top: 40px;
    margin-bottom: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.main__grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 323px);
    grid-template-rows: repeat(auto-fit, 326px);
    grid-gap: 15px;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 32px;
    padding: 0;
    justify-content: center;
}