@import url('../../vendor/fonts.css');

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'CabinetGrotesk', sans-serif;
    padding: 0 40px;
    margin-top: 171px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}